<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/admin.css">

        <script src="../javascript/admin.js"></script>
    </head>

    <body>
        <h1>Admin</h1>

        <section class="managerContainer">
            <ul id="managerList">
                
            </ul>
        </section>

        <section class="adContainer">
            <ul id="adList">
                <li class="listElement">
                    <section class="elementInfo">
                        <p id="name">VW Bursary</p>
                        <p id="description">Volkswagen funding for students</p>
                        <p id="adType">Bursary</p>
                    </section>
                    <button class="removeButton">X</button>
                </li>
                <li class="listElement">
                    <section class="adInfo">
                        <p id="name">VW Bursary</p>
                        <p id="description">Volkswagen funding for students</p>
                        <p id="adType">Bursary</p>
                    </section>
                    <button class="removeButton">X</button>
                </li>
            </ul>
        </section>
    </body>
</html>