<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/admin.css">
    </head>

    <body>
        <section class="adContainer">
            <h1>Admin</h1>
            <ul class="adList">
                <li class="listElement">
                    <section class="adInfo">
                        <p id="name">VW Bursary</p>
                        <p id="description">Volkswagen funding for students</p>
                        <p id="adType">Bursary</p>
                    </section>
                    <button>X</button>
                </li>
                <li class="listElement">
                    <section class="adInfo">
                        <p id="name">VW Bursary</p>
                        <p id="description">Volkswagen funding for students</p>
                        <p id="adType">Bursary</p>
                    </section>
                    <button>X</button>
                </li>
            </ul>
        </section>
    </body>
</html>