<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>
</html>

<body>
    <section class="loginContainer">
        <h1>Login</h1>
        <div id="emailContainer">
            <input type="text" id="email" placeholder="Enter your email"/>
        </div>

        <div id="passwordContainer">
            <input type="password" id="password" placeholder="Enter your password"/>
        </div>

        <button type="submit">Login</button>
        <p>Don't have an account? <a href="./signUp.html">Sign Up</a></p>
    </section>
</body>